<!-- Validation failure messages -->
<% if @job.errors.any? %>
  <% @job.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h4>Prior Work Experience
<p><small>Where did you work prior to MMM? Add companies here.</small></p>
</h4>
</div>
<form action="/create_job" method="post">
<!-- Hidden input for authenticity token to protect from forgery -->
<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

<!--Label and input for industry from dropdown-->
<div class="form-group">
          <label for="company_id" class="control-label">
            Company
          </label>
          <%= select_tag(:company_id, options_from_collection_for_select(Company.order("company_name"), :id, :company_name), :class => "form-control") %>
          <p class="help-block">
            <a href="/companies/new">or add a new company</a>
          </p>
        </div>

<!-- Hidden input for user_id -->
<input type="hidden" id="user_id" name="user_id" value="<%= current_user.id %>">

<!--  Label and input for start date-->
<div class="form-group">
  <label for="start_date" class="control-label">
         Start Date
 </label>
  <input type="date" id="start_date" name="start_date" class="form-control">
</div>


<!--  Label and input for end date-->
<div class="form-group">
 <label for="end_date" class="control-label">
        End Date
</label>
 <input type="date" id="end_date" name="end_date" class="form-control">
</div>

<button class="btn btn-success">
  Add Company
</button>
or
<a href="/companies">Cancel</a>
</form>
